@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rebeccapurple;
    color: white;
    display: flex;
    font-family: "Poppins",sans-serif;
    align-items: center;
    justify-content : center;
    margin: 0;
    min-height: 100vh;
   
}

.pw-container{
    background-color: rgb(58, 13, 102);
    width: 400px;
    
    
}

